* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
}

/* common uses */
.button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    font-weight: 550;
    cursor: pointer;
}

/* common uses */

/* navition-section */

.header .nav-bar {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo {
    flex: 1;
}

.navbar-manu {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
    font-size: 20px;
}

.navbar-manu .nav-items .nav-link {
    text-decoration: none;
}

.nav-bar .nav-btn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

/* navition-section */

/* banner section */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-banner {
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("./assets/banner.jpg");
    background-size: cover;
}


.banner-overlay {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.banner-text h1 {
    font-weight: bold;
    font-size: 80px;
    color: white;
}

.banner-text p {
    text-align: center;
    color: white;
    font-size: 18px;
}

/* banner section */

/* Speakers Section */
.Speakers-Section {
    width: 80%;
    margin: 50px auto 80px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.Speakers-Section>h2 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.speaker-cards {
    margin-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.speaker-cards .speaker {
    border: 1px solid rgb(185, 184, 184);
    border-radius: 10px;
}

.speaker-cards img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}


.speaker-cards .speaker-cards-text-section {
    box-sizing: border-box;
    margin: 20px;
}

.speaker-cards h4 {
    font-size: 30px;
    font-weight: bold;
}

.speaker-cards p {
    color: gray;
}

.speaker-cards p a {
    color: rgb(9, 255, 255);
    text-decoration: none;
}

/* Speakers Section */

/* Pricing Section */


.pricing-section>h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.pricing-section>p {
    text-align: center;
}

.pricing-plan {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pricing-plan .standard {
    margin: 20px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}

.pricing-plan .standard ul {
    margin-left: 10px;
}

.pricing-plan .standard a {
    text-decoration: none;
    border: 1px solid gray;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}

/* pro */
.pricing-plan .pro {
    margin: 20px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.pricing-plan .pro ul {
    margin-left: 10px;
}

.pricing-plan .pro a {
    text-decoration: none;
    background-color: blue;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

/* team */
.pricing-plan .team {
    margin: 20px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
}

.pricing-plan .team ul {
    margin-left: 10px;
}

.pricing-plan .team a {
    text-decoration: none;
    border: 1px solid gray;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}

/* Pricing Section */

/* hackathon */
.container {
    max-width: 1200px;
    margin: auto;
}

.section-title {
    text-align: center;
    margin: 50px 80px;
}

.section-title h2 {
    font-weight: bold;
    font-size: 50px;
}

.section-title p {
    max-width: 70%;
    margin: auto;
}

.hackathon-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.hackathon-cards .hack-card {
    flex: 1;
    max-width: 300px;
    text-align: center;
    padding: 30px 20px;
    border: 1px solid gray;
    border-radius: 10px;
}

.hackathon-cards .hack-card:hover {
    transform: scale(1.01);
}

.hack-card>div {
    font-size: 50px;
    margin-bottom: 20px;
}

.hack-card h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.hack-card p {
    font-size: 18px;
    line-height: 1.7;
}

.hackathon-btn {
    text-align: center;
    margin-top: 50px;
}

/* hackathon */
/* footer section */
.footer-section {
    margin: 0 auto;
    padding: 40px;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-image {
    flex: 1;
}

.footer-right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-right-section a {
    padding: 20px;
    text-decoration: none;
}

.footer-right-section img {
    max-height: 20px;
}

.footer-section p {
    margin-top: 10px;
    text-align: center;
}

/* footer section */